{
  "extends": "../src/.eslintrc",

  "globals": {
    // Exposed by Jasmine
    "jasmine": true,
    "describe": true,
    "xdescribe": true,
    "expect": true,
    "it": true,
    "xit": true,
    "beforeEach": true,
    "afterEach": true,
    "spyOn": true
  },

  "rules": {
    "one-var": 0,
    "no-undefined": 0
  }
}
