@font-face {
  font-family: "Roboto-Medium";
  src: url("Roboto-Medium.ttf");
}

* { 
  box-sizing: border-box;
}

label {
  color:#999; 
  font-size: 0.85rem;
}

body {
  background-color: white;
  font-family: "Roboto-Medium", sans-serif; 
}

.slider {
  width: 100%;
}

input[type="text"] {
    color: rgba(0,0,0, 0.66);
    text-align: center;
}

/* Slider styles */ 
input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 6px;
  background-color: #984FC9;
  border: 1px solid #97c68b;
  border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease;
}

input[type="range"]:hover {
  background-color: #AE5AE6;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background-color: #252326;
  border-radius: 30px;
  box-shadow: 0px 0px 3px #3c6d59;
  transition: all 0.5s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #457d66;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 1px #3c6d59;
}

input[type='range'], 
input[type='range']:active, 
input[type='range']::-moz-focus-inner, 
input[type='range']:-moz-focusring
input[type='range']:-webkit-focusring  {
    border: 0;
    outline: none;
}

input[type=range]:focus {
  outline: none;
}

#rangevalue {
  text-align: center;
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 10px 0px;
  width: 100%;
  color: #931FE0;
}

/* Chat heads */ 
.demo1 {
width: 100%;
height: 100%;
position: absolute;
background: #EEE;
}

.demo1-ball {
border-radius: 99px;
background-color: white;
width: 50px;
height: 50px;
border: 3px solid white;
position: absolute;
background-size: 50px;
}

.ball-0 {
background-image: url(0.jpg);
}

.ball-1 {
background-image: url(1.jpg);
}

.ball-2 {
background-image: url(2.jpg);
}

.ball-3 {
background-image: url(3.jpg);
}

.ball-4 {
background-image: url(4.jpg);
}

.ball-5 {
background-image: url(5.jpg);
}

.parent-container {
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-direction: row;
  -webkit-flex-direction: row; /* Safari */
  justify-content: center;
  -webkit-justify-content: center; /* Safari */
}

.input-container {
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-direction: column;
  -webkit-flex-direction: column; /* Safari */
  justify-content: center;
  -webkit-justify-content: center; /* Safari */
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.container {
  width: 100%;
  height: 5%;
  padding-top: 1%;
  text-align: center;
}

.dropdown-container {
  width: 125px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.container { 
  font-family:'Roboto-Medium';
  font-size:1 rem;
  display: block; 
  background: #FFF;
}

/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 4px 0;
  font-size: 0.8rem;
  color: rgba(0,0,0, 0.66);
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
select:focus {
  outline: none;
}

/* Hide label */
.mdl-selectfield label {
  display: none;
}

/* Use custom arrow */
.mdl-selectfield select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
}
.mdl-selectfield:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: 0.375em solid rgba(0,0,0, 0.12);
  pointer-events: none;
}
