{
  "presets": [
    ["@babel/env", { "modules": false, "loose": true }],
    "@babel/flow",
    "@babel/react"
  ],
  "plugins": [
    ["@babel/proposal-class-properties", { "loose": true }]
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
