{
  "presets": [
    ["@babel/env", { "modules": false }],
    "@babel/flow",
    "@babel/react"
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
