{
  "presets": [
    ["@babel/env", { "modules": false }],
    "@babel/flow",
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "@babel/plugin-proposal-json-strings"
  ],
  "env": {
    "cjs": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    },
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
