{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "jasmine": true
  },
  "globals": {
    "ReactElement": true
  },
  "rules": {
    "eqeqeq": [2, "allow-null"],
    "id-length": 0,
    "no-console": 0, // use it for warnings
    "no-nested-ternary": 0,
    "prefer-const": 0,
    "no-multiple-empty-lines": 0,

    "react/no-did-mount-set-state": 2,
    "react/no-multi-comp": 0,
    "react/jsx-boolean-value": [2, "always"],
    "react/sort-comp": [
      2, {
        "order": [
          "displayName",
          "propTypes",
          "contextTypes",
          "childContextTypes",
          "mixins",
          "statics",
          "defaultProps",
          "getDefaultProps",
          "getInitialState",
          "getChildContext",
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount",
          "/^on.+$/",
          "/^get.+$/",
          "/^render.+$/",
          "/^.+$/", // All other methods go here
          "render"
        ]
      }
    ]
  }
}
