{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "rules": {
    "eqeqeq": [2, "allow-null"],
    "id-length": 0,
    "no-console": 0, // use it for warnings
    "no-nested-ternary": 0,
    "prefer-const": 0,
    "no-multiple-empty-lines": 0,
    "no-useless-escape": 0,
    "no-else-return": 0,
    "comma-dangle": 0,
    "lines-between-class-members": 0,
    "indent": 0,
    "operator-linebreak": 0,
    "object-curly-newline": 0,
    "function-paren-newline": 0,
    "prefer-destructuring": 0,

    "react/jsx-wrap-multilines": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-unused-state": 0,
    "react/require-default-props": 0,
    "react/destructuring-assignment": 0,
    "react/no-did-mount-set-state": 2,
    "react/no-multi-comp": 0,
    "react/jsx-boolean-value": [2, "always"],
    "react/sort-comp": [
      2, {
        "order": [
          "displayName",
          "propTypes",
          "contextTypes",
          "childContextTypes",
          "mixins",
          "statics",
          "defaultProps",
          "getDefaultProps",
          "getInitialState",
          "getChildContext",
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount",
          "/^on.+$/",
          "/^get.+$/",
          "/^render.+$/",
          "/^.+$/", // All other methods go here
          "render"
        ]
      }
    ],

    "max-len": 0,
    "no-mixed-operators": 0,
    "no-continue": 0,
    "no-restricted-syntax": 0,
    "no-plusplus": 0,
    "no-confusing-arrow": 0,
    "arrow-parens": 0,
    "arrow-body-style": 0,
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/prefer-es6-class": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "object-curly-spacing": 0,
    "import/imports-first": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/order": 0,
    "import/no-webpack-loader-syntax": 0,
  }
}
