/.*

/bin/
/chrome.json
/renovate.json

/bower_components/

/coverage/
/demos/
/src/
/test/

/karma.conf.js
/webpack.*
/server.js

# sublime
/*.sublime-project
/*.sublime-workspace

/rollup.config.js
