* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.demo7 {
  background-color: #1B1B1B;
  position: absolute;
  width: 100%;
  height: 100%;
}

.demo7-ball {
  width: 50px;
  height: 50px;
  border-radius: 99px;
  position: absolute;
  border: 1px solid lightblue;
}