* {
  margin: 0;
}

.demo1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #EEE;
}

.demo1-ball {
  border-radius: 99px;
  background-color: white;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  position: absolute;
  background-size: 50px;
}

.ball-0 {
  background-image: url(0.jpg);
}

.ball-1 {
  background-image: url(1.jpg);
}

.ball-2 {
  background-image: url(2.jpg);
}

.ball-3 {
  background-image: url(3.jpg);
}

.ball-4 {
  background-image: url(4.jpg);
}

.ball-5 {
  background-image: url(5.jpg);
}